.header{
    display:flex;
    justify-content: space-between;
    padding: 24px;
}
.maintext{
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
}

.bodyone p{
    color:#e5e7eb;
    font-size: 18px;
}
.logo{
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
}
ul {
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0;
    gap: 16px;
    font-size: 18px;
    color:#e5e7eb;
  }

.bodyone{
    background-color: #1f2937;
    border:#1f2937; 
    padding: 0 16px;
}
body{
    margin: 0;
}
.container{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.bodyonecontent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 16px;
    margin: 16px;
    max-height: 300px;
    max-width: 500px;
    flex-basis: 400px;
}
.img{
    display:flex;
}
button{
    padding: 8px 16px;
    border-radius: 8px;
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
}
img {
    flex: end;
    width: 500px;
    height: 300px;
  }
  
  h2{
    font-size: 32px;
    font-weight: 900;  
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
  }

  .bodytwo {
    display: flex;
    justify-content: center;
    gap: 52px;
  }
  
  .info {
    max-width: 100px;
  }
  .info img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 4px solid #3882F6;
    border-radius: 15px;
  }
  
  .bodythree{
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding: 0 200px;
  }

  .bodythree p{
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
    font-family: 'Roboto', arial;
  }

  .bodythree b {
    padding-bottom: 20px;
    padding-right: 10px;
    font-family: 'Roboto', arial;
    text-align: right;
}
.sign-up {
  background-color: #3882F6 ;
  margin: 50px 200px;
  padding: 10px 80px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  border-color: none;
}

.sign-item {
  flex: 1;
}

.signs-text {
  text-align: left;
}

.signs-text p {
  color: #fff;
  opacity: 0.7;
  margin: 5px 30px 30px 50px;
}

h3 {
  color: #fff;
  font-family: 'Roboto', arial;
  padding: 0;
  margin: 30px 0px 0px 50px;
}

.signs-button button {
  color: #fff;
  font-family: 'Roboto', arial;
  border-color: #fff;
  border-radius: 8px;
  background-color: #3882F6;
  padding: 5px 25px;
  font-size: 15px;
}

.footer {
  background-color: #1F2937;
  color: #fff;
  font-family: 'Roboto', arial;
  display: flex;
  justify-content: center;
  align-items: center;
}